@use 'mixins' as *;
body {
  // @include fluid-text(18, 16);

  background-color: var(--color-bg);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition);
}

a {
  text-decoration: none;
  color: inherit;
}
