@use 'mixins' as *;
@use 'variables' as *;
body {
  @include fluid-text(18, 16);
  font-family: 'Exo-2';
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-font-main);
  background-color: var(--color-bg);
}

::selection {
  background: rgba(4, 239, 249, 0.25);
  color: rgba(225, 248, 255, 0.98);
}

::-moz-selection {
  background: rgba(4, 239, 249, 0.25);
  color: rgba(225, 248, 255, 0.98);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: 'Oxanium';
  font-weight: medium;
  color: #d9e1f2;
}
