@use 'media' as *;
$fonts: (
  head: 'Oxanium',
  main: 'Exo-2',
);

:root {
  --color-bg: #0b0f19;
  // --color-bg: #0e111a;

  --color-font-head: #d9e1f2;
  --color-font-main: #8c9bb5;

  --container-width: 1240px;
  --container-padding-x: 100px;
  --section-padding-y: 70px;

  --transition: 0.25s ease-out;
}
