@use '../base/core' as *;
.qactions {
  --train: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  /* сама “консоль” поедет вправо */
  // transform: translateX(var(--slide));
  // transition: transform 220ms ease;

  // &--open {
  /*  --slide: 88px;насколько уезжает стрелка вправо */
  // flex-direction: row-reverse;
  // }
  &--open {
    --train: 0px;
  }

  &__panel {
    display: flex;
    align-items: center;
    gap: 8px;

    /* закрыто */
    width: 0;
    opacity: 0;
    overflow: hidden;

    transform: translateX(12px);
    transition:
      width 260ms ease,
      opacity 180ms ease,
      transform 260ms ease,
      padding 260ms ease;

    padding: 0; /* важно анимировать через padding тоже */
    // border-radius: 14px;
    // clip-path: polygon(97% 0, 100% 50%, 97% 100%, 0% 100%, 0 49%, 0 0);

    /* чтобы внутри не ломалось */
    white-space: nowrap;
  }

  &__button {
    --btn-c: rgba(4, 239, 249, 0.85);

    @include reset-button;
    width: 44px;
    height: 35px;
    background: transparent;
    padding: 0;
    display: grid;
    place-items: center end;
    border: none;
    // clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%);
    padding-right: 7px;

    /* чуть “системнее”, чем обычные кнопки */
    // background:
    //   linear-gradient(to bottom, rgba(52, 183, 235, 0.411), rgba(8, 69, 110, 0.37)),
    //   radial-gradient(circle at 25% 35%, rgba(255, 255, 255, 0.13), transparent 55%);

    // box-shadow:
    //   inset 0 0 0 1px rgba(4, 239, 249, 0.28),
    //   inset 0 1px 0 rgba(255, 255, 255, 0.1),
    //   0 0 18px rgba(4, 239, 249, 0.12);

    cursor: pointer;

    transition:
      transform 260ms ease,
      box-shadow 160ms ease,
      background 160ms ease,
      filter 160ms ease;

    z-index: 2;

    &:hover {
      // background:
      //   linear-gradient(to bottom, rgba(10, 230, 238, 0.404), rgba(6, 99, 161, 0.699)),
      //   radial-gradient(circle at 25% 35%, rgba(255, 255, 255, 0.16), transparent 55%);

      // box-shadow:
      //   inset 0 0 0 1px rgba(4, 239, 249, 0.42),
      //   inset 0 1px 0 rgba(255, 255, 255, 0.12),
      //   0 0 26px rgba(4, 239, 249, 0.18);

      filter: saturate(1.1);
      .qactions__chevron {
        & path {
          // fill: rgba(17, 121, 124, 0.863);
          fill: rgba(51, 235, 241, 0.863);
        }
      }
    }

    &:active {
      transform: translateX(var(--train)) translateY(1px);
    }

    &:focus-visible {
      outline: none;
      box-shadow:
        inset 0 0 0 1px rgba(4, 239, 249, 0.55),
        0 0 0 2px rgba(4, 239, 249, 0.2),
        0 0 28px rgba(4, 239, 249, 0.2);
    }
    z-index: 2; /* чтобы быть поверх панели на всякий */
  }

  &__chevron {
    height: 70%;
    & path {
      transition: 180ms ease;
      fill: rgba(56, 160, 230, 0.863);
      // fill: rgba(51, 235, 241, 0.863);
    }

    transition:
      transform 180ms ease,
      filter 180ms ease,
      opacity 180ms ease;
    // width: auto;
  }

  &__sep {
    width: 1px;
    height: 2em;
    margin: 0 2px;
    background: linear-gradient(to bottom, transparent, rgba(4, 239, 249, 0.25), transparent);
    opacity: 0.8;
  }
}

.qactions--open .qactions__panel {
  max-width: 720px;
  width: fit-content;
  opacity: 1;
  transform: translateX(0);
  padding: 8px 20px;

  background:
    radial-gradient(circle at 20% 30%, rgba(4, 239, 249, 0.08), transparent 55%),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0)),
    linear-gradient(to left, rgba(7, 232, 240, 0.096), rgba(235, 222, 222, 0));

  box-shadow:
    inset 0 0 0 1px rgba(4, 239, 249, 0.14),
    0 0 24px rgba(4, 239, 249, 0.06);
}
.qactions--open .qactions__chevron {
  & path {
    fill: rgba(17, 121, 124, 0.863);
  }
  transform: scaleX(-1);
}

.qbtn--in-panel {
  font-family: 'Exo-2';
  font-size: 10px;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  height: 26px;
  padding: 0 12px;
}

.qbtn--actions {
  color: rgba(220, 250, 255, 0.9);

  background: linear-gradient(to bottom, rgba(4, 239, 249, 0.14), rgba(4, 239, 249, 0.06));

  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(4, 239, 249, 0.12);

  cursor: pointer;

  transition:
    transform 120ms ease,
    box-shadow 140ms ease,
    background 140ms ease;

  &:hover {
    color: rgb(12, 223, 230);
    box-shadow:
      inset 0 1px 0 rgba(255, 255, 255, 0.1),
      inset 0 0 0 1px rgba(4, 239, 249, 0.22),
      0 0 18px rgba(4, 239, 249, 0.06);
  }

  &:active {
    transform: translateY(1px);
  }
}

@supports (corner-shape: bevel) {
  .qactions--open .qactions__panel {
    border-radius: 26px 0 22px 0;
    corner-shape: bevel;
  }
}
