@use '../../base/core' as *;

.qdeadline {
  display: inline-flex;
  align-items: center;
  // gap: 6px;

  font-family: 'Exo-2';
  letter-spacing: 0.08em;
  white-space: nowrap;
  // text-transform: uppercase;

  &__time {
    font-size: 14px;
    font-family: 'Exo-2';
    color: inherit;
    font-variant-numeric: tabular-nums;
    font-feature-settings:
      'tnum' 1,
      'liga' 0;
    letter-spacing: 0.06em;
    // color: rgba(180, 245, 255, 0.72);
  }

  &__tag {
    font-size: 9px;
    padding: 2px 6px;
    border-radius: 5px;
    border: 1px solid rgba(4, 239, 249, 0.25);
    background: rgba(0, 0, 0, 0.18);
    color: rgba(180, 245, 255, 0.75);
  }

  /* состояния */
  &--ok {
    color: rgba(180, 245, 255, 0.62);
    .qdeadline__icon {
      color: #04eff9;
    }
  }

  &--warn {
    color: rgba(255, 214, 80, 0.85);
    .qdeadline__time {
      text-shadow: 0 0 10px rgba(255, 214, 80, 0.1);
    }
  }

  &--danger {
    color: rgba(255, 140, 60, 0.95);
    .qdeadline__time {
      text-shadow:
        0 0 10px rgba(255, 214, 80, 0.18),
        0 0 18px rgba(255, 214, 80, 0.1);
    }

    .qdeadline__tag {
      border-color: rgba(255, 214, 80, 0.55);
      color: rgba(255, 214, 80, 0.95);
      box-shadow: 0 0 14px rgba(255, 214, 80, 0.1);
    }
  }

  &--overdue {
    color: rgba(255, 90, 90, 0.95);
    .qdeadline__time {
      text-shadow:
        0 0 10px rgba(255, 90, 90, 0.18),
        0 0 18px rgba(255, 90, 90, 0.1);
    }

    .qdeadline__tag {
      border-color: rgba(255, 90, 90, 0.55);
      color: rgba(255, 90, 90, 0.95);
      box-shadow: 0 0 14px rgba(255, 90, 90, 0.1);
    }
  }

  &__icon {
    height: 1.4em;
    width: auto;
    // color: inherit;
    fill: currentColor;
  }
}

//пульсация инокок просроченных или срочных задачек
@keyframes bolt-pulse {
  0%,
  100% {
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    opacity: 0.9;
  }
  50% {
    filter: drop-shadow(0 0 10px currentColor);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .qdeadline--danger .qdeadline__icon,
  .qdeadline--overdue .qdeadline__icon {
    animation: bolt-pulse 1.8s ease-in-out infinite;
  }
}
