@use '../../base/core' as *;

.quest-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-top: 14px;
}

.quest-col {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;

  &__header {
    font-family: 'Exo-2';
    letter-spacing: 0.14em;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(180, 245, 255, 0.55);
    padding: 2px 6px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: stretch; /* ширина ок */

    @include custom-scrollbar;
  }
}
@include mobile {
  .quest-board {
    grid-template-columns: 1fr;
  }
}
