@use '../../base/core' as *;

.quest-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-top: 14px;
  flex: 1;
  height: 100%; /* ← ДОБАВЬ ЭТУ СТРОКУ */
  min-height: 0; /* ← И ЭТУ (как на body) */
}

.quest-col {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  height: 100%;
  min-height: 0;

  &__header {
    font-family: 'Exo-2';
    letter-spacing: 0.14em;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(180, 245, 255, 0.55);
    padding: 2px 6px;
  }

  &__list {
    position: relative;
    // isolation: isolate;

    overflow-y: auto;
    padding-inline: 8px;
    // padding: 4px 8px 20px 8px; // немного отступа снизу, чтобы fade не обрезал карточку
    @include tiny-scrollbar(3);
    @include scroll-fade(22);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: stretch;
  }
}
@include mobile {
  .quest-board {
    grid-template-columns: 1fr;
  }
}
