@use '../../base/core' as *;

.quest-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
  margin-top: 14px;
  flex: 1;
  height: 100%; /* ← ДОБАВЬ ЭТУ СТРОКУ */
  min-height: 0; /* ← И ЭТУ (как на body) */
}

.quest-col {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  height: 100%;
  min-height: 0;

  --color-title: rgba(180, 245, 255, 0.55);

  &__header {
    font-family: 'Exo-2';
    letter-spacing: 0.14em;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--color-title);
    padding: 2px 6px;
    display: flex;
    justify-content: space-between;
    padding-inline: 1em;
  }

  &__list {
    position: relative;
    // isolation: isolate;

    overflow-y: auto;
    padding-inline: 8px;
    // padding: 4px 8px 20px 8px; // немного отступа снизу, чтобы fade не обрезал карточку
    @include tiny-scrollbar(3);
    @include scroll-fade(22);
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: stretch;
  }

  &__add {
    @include reset-button;
    transition: var(--transition);
    background-color: transparent;
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    aspect-ratio: 1;
    color: var(--color-title);
    @include hover {
      color: var(--color-button-hover);
    }
    & svg {
      path {
        fill: currentColor;
      }
    }
  }
}
@include mobile {
  .quest-board {
    grid-template-columns: 1fr;
  }
}
