@use '../base/core' as *;

.quest-log {
  user-select: none;
  //temp

  width: 100%;

  &__container {
    position: relative;
    height: 80vh;
    /*
      Дальше (позже) делаем так:
        Контейнер пусть растёт от контента (height: auto)
        А рамка пусть тянется вместе с контейнером (absolute inset:0)
        Но тогда надо учитывать минимум, чтобы рамка не схлопывалась.
        Это можно будет сделать когда закончим с табами и карточками.
    */
  }

  &__frame {
    position: absolute;
    inset: 0; //занимает весь контейнер
    width: 100%;
    height: 100%;
    z-index: 0; // рамка снизу
  }

  &__content {
    position: relative;
    z-index: 1;
    padding-inline: 12%;
    padding-top: 25px;
    padding-bottom: 15px;
    height: 100%;
    display: flex; // ← добавь
    flex-direction: column; // ← добавь
  }

  &__body {
    flex: 1; // ← главное! занимает всё оставшееся место
    display: flex; // чтобы QuestBoard мог растянуться
    flex-direction: column;
    min-height: 0;
  }
  &__header {
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 16px;
    padding: 6px, 4px, 14px;
    margin-bottom: 10px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 2px;
      height: 1px;

      background: linear-gradient(
        to right,
        rgba(4, 239, 249, 0),
        rgba(4, 239, 249, 0.55),
        rgba(4, 239, 249, 0)
      );

      box-shadow: 0 0 14px rgba(4, 239, 249, 0.12);
      opacity: 0.9;
    }
  }

  &__title {
    font-family: 'Orbitron';
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 34px;

    color: rgba(210, 245, 255, 0.92);
    text-shadow:
      0 0 10px rgba(4, 239, 249, 0.12),
      0 0 22px rgba(4, 239, 249, 0.06);
  }

  &__status {
    display: inline-flex;
    align-items: baseline;
    gap: 10px;

    font-family: 'Exo-2';
    letter-spacing: 0.12em;
    text-transform: uppercase;

    color: rgba(120, 220, 245, 0.7);
  }

  &__statusLabel {
    font-size: 16px;
    opacity: 0.8;
  }

  &__statusValue {
    font-size: 28px;
    color: rgba(4, 239, 249, 0.92);
    text-shadow:
      0 0 10px rgba(4, 239, 249, 0.18),
      0 0 24px rgba(4, 239, 249, 0.08);
  }

  &__statusMeta {
    font-size: 16px;
    opacity: 0.65;
  }

  &__tabsDivider {
    height: 1px;
    margin: 10px 0 16px;
    background: linear-gradient(
      to right,
      rgba(4, 239, 249, 0),
      rgba(4, 239, 249, 0.32),
      rgba(4, 239, 249, 0)
    );
    opacity: 0.8;
  }
}
