@use '../base/core' as *;
.quest-log {
  position: relative;
  width: 720px;
  height: 480px;
  filter: drop-shadow(0 0 30px rgba(0, 229, 255, 0.5)); /* общий внешний glow */
}

.border-glow,
.side-glow {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.border-glow path {
  filter: drop-shadow(0 0 8px #00e5ff) drop-shadow(0 0 20px #00e5ff);
}

.side-glow path {
  filter: drop-shadow(0 0 25px #00e5ff) drop-shadow(0 0 50px #00e5ff);
}

.quest-log__content {
  position: absolute;
  inset: 8px; /* отступ под жирные уголки */
  background: linear-gradient(180deg, #012029 0%, #043e4f 100%);
  clip-path: polygon(
    55% 0,
    65% 12%,
    96% 12%,
    100% 22%,
    100% 90%,
    90% 100%,
    10% 100%,
    0 90%,
    0 10%,
    10% 0
  );
  border-radius: 10px;
  padding: 50px 60px;
  color: #fff;
  backdrop-filter: blur(4px);
}

.quest-log__title {
  margin: 0 0 30px;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 4px;
  text-shadow: 0 0 20px #00e5ff;
  color: #fff;
}
