@use '../base/core' as *;

.quest-log {
  //temp

  width: 100%;

  &__container {
    position: relative;
    height: 80vh;
    /*
      Дальше (позже) делаем так:
        Контейнер пусть растёт от контента (height: auto)
        А рамка пусть тянется вместе с контейнером (absolute inset:0)
        Но тогда надо учитывать минимум, чтобы рамка не схлопывалась.
        Это можно будет сделать когда закончим с табами и карточками.
    */
  }

  &__frame {
    position: absolute;
    inset: 0; //занимает весь контейнер
    width: 100%;
    height: 100%;
    z-index: 0; // рамка снизу
  }

  &__content {
    position: relative;
    z-index: 1;
    padding-inline: 12%;
    padding-top: 25px;
    // height: 100%;
  }

  &__header {
  }
  &__title {
    font-family: 'Orbitron';
  }
}
